
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
  }
  body {
      background-color: #1c1f59; 
       background: linear-gradient(135 deg,#050E26,#1c1f59); 
      
  } 
  .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .gender{
      position: relative;
      display: flex;
  }
  .popup {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 300px;
      text-align: center;
      position: relative;
  }
  .popup h2 {
      margin-bottom: 15px;
  }
  .popup input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  .popup button {
      width: 100%;
      padding: 10px;
      background: #6f4eff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .popup button:hover {
      background: #a180ed;
  }
  .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 18px;
      cursor: pointer;
  }
